# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/

# Production
.next/
out/
build/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
